@model asmC5.Models.CategoryModels

@{
    ViewData["Title"] = "Delete";
}
@{
    Layout = "_Layout";
}
<h1>XÓA LOẠI MÓN ĂN</h1>

<h3>Bạn có chắc chắn xóa loại món ăn này không?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            TÊN LOẠI MÓN
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategorName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
